.launchTitleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.launchName {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

.launchImg {
  height: 100px;
}

.launchDetailsSummary {
  font-size: 10px;
  margin-bottom: 2rem;
}
